.row {
  display: block;
}

.cell {
  background: gray;
  height: 75px;
  width: 75px;
  border: groove;
  display: inline-block;
}

.cell.blue {
  background: blue;
}

.cell.red {
  background: red;
}